name: CI/CD Grimoire App

on:
  push:
    branches: ['main']

jobs:
  build-and-deploy:
    runs-on: [self-hosted, linux, arm64]

    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "VITE_API_URL=${{ vars.VITE_API_URL }}" >> .env

      - name: Build Docker Image (The Factory)
        run: docker build -t grimoire-build-image .

      - name: Extract Build Artifacts (Lấy file đã build ra VM)
        run: |
          docker create --name tmp-grimoire grimoire-build-image

          sudo rm -rf /var/www/grimoire/*
          docker cp tmp-grimoire:/app/dist/. /var/www/grimoire/

          # 3. Xóa container tạm và image để dọn dẹp bộ nhớ
          docker rm tmp-grimoire
          docker rmi grimoire-build-image
