name: CI/CD Grimoire App

on:
  push:
    branches: [ "main" ] # Hoặc "master" tùy nhánh chính của bạn

jobs:
  build-and-deploy:
    runs-on: [self-hosted, linux, arm64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image (The Factory)
        run: docker build -t grimoire-build-image .

      - name: Extract Build Artifacts (Lấy file đã build ra VM)
        run: |
          # 1. Tạo một container tạm thời từ image vừa build
          docker create --name tmp-grimoire grimoire-build-image
          
          # 2. Copy thư mục dist từ trong container ra thư mục của Nginx trên VM
          # Giả sử bạn để web tại /var/www/grimoire
          sudo rm -rf /var/www/grimoire/*
          docker cp tmp-grimoire:/app/dist/. /var/www/grimoire/
          
          # 3. Xóa container tạm và image để dọn dẹp bộ nhớ
          docker rm tmp-grimoire
          docker rmi grimoire-build-image